{
  "presets": [
    "react-native"
  ],
  "plugins": [
    ["module-alias",[
      { "src": "./src/pages", "expose": "@pages" },
      { "src": "./src/config", "expose": "@config" },
      { "src": "./src/components", "expose": "@components" },
      { "src": "./src/model", "expose": "@model" },
      { "src": "./src/asset", "expose": "@asset" }
    ]]
  ]
}